@{
    ViewData["Title"] = "Libros";
    Layout = "_Layout";
}

<button class="btn btn-primary" onclick="nuevoUsuario()">Nuevo usuario</button>
<br>
<br>
<div class="row">
    <table width="100%" 
            class="table" 
            id="grid_Libros" 
            style="table-layout: fixed; word-break: break-word !important;">
        <thead class="thead-default">
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Nombre de usuario</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        var columns = [{
            "data": "tituloLibro",
            "name": "tituloLibro",
            "searchable": true,
            "visible": true,
            "orderable": true,
            defaultContent: ""
        }, {
            "data": "autorLibro",
            "name": "autorLibro",
            "searchable": true,
            "visible": true,
            "orderable": true,
            defaultContent: ""
        }, {
            "data": "nombreUsuario",
            "name": "nombreUsuario",
            "searchable": true,
            "visible": true,
            "orderable": true,
            defaultContent: ""
        }, {
            data: function (row, type, set) {
                var s = '';
                
                s +=   
                    `<button 
                        type='button' 
                        class='btn btn-sm btn-secondary' 
                        onclick='editarUsuario(${row.id})'
                        title='Editar'
                        style='margin-left:2px;background-color:green;'>
                            <svg class="c-icon glyphicon" style='width:12px;height:12px;margin-top:-3px;'>
                                <use xlink: 
                                    href="${urlContent}img/icons/svg/free.svg#cil-pencil">
                                </use>
                            </svg>
                    </button>`;
                
                s +=   
                    `<button 
                        type='button' 
                        class='btn btn-sm btn-secondary' 
                        onclick='verUsuario(${row.id})'
                        title='Ver'
                        style='margin-left:2px;background-color:green;'>
                            <svg class="c-icon glyphicon" style='width:12px;height:12px;margin-top:-3px;'>
                                <use xlink: 
                                    href="${urlContent}img/icons/svg/free.svg#cil-zoom-in">
                                </use>
                            </svg>
                    </button>`;
                
                s +=   
                    `<button 
                        type='button' 
                        class='btn btn-sm btn-secondary' 
                        onclick='eliminarUsuario(${row.id}, "${row.nombreUsuario}")'
                        title='Eliminar'
                        style='margin-left:2px;background-color:red;'>
                            <svg class="c-icon glyphicon" style='width:12px;height:12px;margin-top:-3px;'>
                                <use xlink: 
                                    href="${urlContent}img/icons/svg/free.svg#cil-trash">
                                </use>
                            </svg>
                    </button>`;

                return s;
            },
            "searchable": false,
            "orderable": false,
            "visible": true,
            defaultContent: ""
        }];
        
        createGrid(
            'grid_Libros', 
            'Usuario/Listar', 
            'Libros', 
            columns, 
            null, 
            true);
    });

    function nuevoUsuario()
    {
        window.location = urlContent + "Usuario/Nuevo";
    }

    function editarUsuario(idUsuario)
    {
        window.location = urlContent + "Usuario/Editar?idUsuario=" + idUsuario;
    }

    function verUsuario(idUsuario)
    {
        window.location = urlContent + "Usuario/Ver?idUsuario=" + idUsuario;
    }

    function eliminarUsuario(idUsuario, nombreUsuario)
    {
        msjPregunta("Pregunta", "¿Está seguro que desea el usuario " + nombreUsuario + "?", function()
        {
            let data = {
                id: idUsuario
            };

            ajax(
                "post", 
                "Usuario/Eliminar", 
                data, 
                "Eliminando...", 
                "Espere por favor...", 
                function(response){
                    msjSuccess("Éxito", "El usuario se eliminó correctamente", function(){
                        reloadGrid("grid_Libros", false);
                    });
                }, null);

        }, function() {

        });
    }
</script>